.jumbotron {
  background-image: url(../images/codelikeagirl_lab.jpg);
  background-size: cover;
}
.snippet {
  width: 180px;
  height: 180px;
}
.jumbotron small {
	color: black;
}
.jumbotron h1{
	color: red;
}
